
@{
    ViewData["Title"] = "Adminloggin";
}

<div class="center-content">
    <div class="form-container">
        <p class="title">Login to ADMIN K M E</p>
        <form class="form">
            <input type="email" class="input" placeholder="Email">
            <input type="password" class="input" placeholder="Password">
            <p class="page-link">
                <span class="page-link-label">Forgot Password?</span>
            </p>
            <button class="form-btn">Log in</button>
        </form>
        <p class="sign-up-label">
            Don't have an account?<span class="sign-up-link">Sign up</span>
        </p>
        <div class="buttons-container">
            <div class="google-login-button">

                <i class="fa fa-google icon"><span>Log in with Google</span></i>
            </div>
        </div>
    </div>
</div>
