
@{
    ViewData["Title"] = "CategoryPage";
}
<h1>CategoryPage</h1>



<div role="tabpanel" class="tab-pane" id="related-artists">

    <div class="media-cards">

        <div class="media-card">

            <a href="~/Home/TopicsUser" class="media-card__image" style="background-image: url(https://image.freepik.com/free-vector/religion-people-set-men-women-different-religious-confessions-traditional-clothes-illustrations_178650-3009.jpg);">

                <i class="ion-ios-play "></i>

            </a>

            <a class="media-card__footer" href="~/Home/TopicsUser">Clothing Fashion</a>

        </div>

        <div class="media-card">

            <a href="~/Home/TopicsUser" class="media-card__image" style="background-image: url(https://imgs.search.brave.com/fs4kTXryHEe-rabFniOXksOMQHh0WSU8klp57xklQ20/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMtZ2xvYmFsLndl/YnNpdGUtZmlsZXMu/Y29tLzYzN2YzMjA4/MWI2ODg4OGU2ZDFi/ZGQ1MC82NTVmMDg5/YjFlODE4ZDc2MzUz/YTcwZmJfR3JvdXAl/MjBvZiUyMGluZGl2/aWR1YWxzJTIwaW4l/MjB0cmFkaXRpb25h/bCUyMGNvc3R1bWVz/JTIwZnJvbSUyMGRp/ZmZlcmVudCUyMHN0/YXRlcyUyMG9mJTIw/SW5kaWEuanBn);">

                <i class="ion-ios-play"></i>

            </a>

            <a class="media-card__footer" href="~/Home/TopicsUser">History of Indian Fashion</a>

        </div>
        </div>
        </div>
