@{
    ViewData["Title"] = "Home Page";
}



<main class="img-container-2">
    <div class="titlebackground">
        <h1>HOME</h1>

        <!-- Related Artists -->
        <div role="tabpanel" class="tab-pane" id="related-artists">

            <div class="media-cards">

                <div class="media-card">

                    <a href="~/Home/CategoryPage" class="media-card__image" style="background-image: url(https://image.freepik.com/free-vector/religion-people-set-men-women-different-religious-confessions-traditional-clothes-illustrations_178650-3009.jpg);">

                        <i class="ion-ios-play " ></i>

                    </a>

                    <a class="media-card__footer" href="~/Home/CategoryPage">Clothing Fashion</a>

                </div>

                <div class="media-card">

                    <div class="media-card__image" style="background-image: url(https://thumbs.dreamstime.com/b/cover-page-science-education-icons-world-evolution-cover-page-science-education-icons-world-evolution-vector-110793644.jpg);">

                        <i class="ion-ios-play"></i>

                    </div>

                    <a class="media-card__footer">Science</a>

                </div>

                <div class="media-card">

                    <div class="media-card__image" style="background-image: url(https://cdn.vectorstock.com/i/1000x1000/68/83/cover-for-a-school-notebook-or-history-book-vector-31886883.webp);">

                        <i class="ion-ios-play"></i>

                    </div>

                    <a class="media-card__footer">History</a>

                </div>

                <div class="media-card">

                    <div class="media-card__image" style="background-image: url(https://c4.wallpaperflare.com/wallpaper/349/850/468/politics-war-king-illuminati-wallpaper-preview.jpg);">

                       

                    </div>

                    <a class="media-card__footer"> <ion-icon name="play-circle-outline"></ion-icon>Politics</a>

            </div>
            </div>
            </div>
            </div>
</main>
