
@{
    ViewData["Title"] = "Paymentplans";
}
<link rel="stylesheet" href="~/css/Paymentplans.css" asp-append-version="true" />
<h1>Paymentplans</h1>

<div class="payment-plans">
    <div class="subcard">
        <div class="content">
            <div class="title">Reader Monthly</div>
            <div class="price">111₹</div>
            <div class="description"> This convenient method allows readers to easily obtain and access a wide range of books.</div>
        </div>
        <button class="paymentplans-bt">
            <a href="~/Home/Payment">Subscribe</a>
        </button>
    </div>
    <div class="subcard">
        <div class="content">
            <div class="title">Writer Monthly </div>
            <div class="price">199₹</div>
            <div class="description"> This convenient method allows readers to easily obtain and access a wide range of books, and also providing authors with an effective way to distribute their work and monetize their content.</div>
        </div>
        <button class="paymentplans-bt">
            <a href="~/Home/Payment">Subscribe</a>
        </button>
    </div>
    <div class="subcard">
        <div class="content">
            <div class="title">Yearly Plan</div>
            <div class="price">1100₹</div>
            <div class="description">This convenient method allows readers to easily obtain and access a wide range of book and also writers providing authors with an effective way to distribute their work and monetize their content.</div>
        </div>
        <button class="paymentplans-bt">
            <a href="~/Home/Payment">Subscribe</a>
        </button>
    </div>
    <div class="subcard">
        <div class="content">
            <div class="title">Special edition</div>
            <div class="price">$89.99</div>
            <div class="description">This convenient method allows readers to easily obtain and access a wide range of books, providing authors with an effective way to distribute their work and monetize their content.</div>
        </div>
        <button class="paymentplans-bt">
            <a href="~/Home/Payment">Subscribe</a>
        </button>
    </div>
</div>