@model kme.Models.Users.SignUpModel

@{
    ViewData["Title"] = "SignUp";
}

<div class="center-content">
        <form class="form" asp-action="SignUp" method="post" enctype="multipart/form-data">
            <p class="title">Register </p>
            <p class="message">Signup now and get full access to our app. </p>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
        <label asp-for="UserName">
            <input asp-for="UserName" class="input" type="text" placeholder="" required="">
            <span>User Name</span>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </label>

        <label asp-for="Email">
            <input asp-for="Email" class="input" type="email" placeholder="" required="">
            <span>Email</span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </label>

        <label asp-for="Password">
            <input asp-for="Password" class="input" type="password" placeholder="" required="">
            <span>Password</span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </label>
        <label asp-for="ConfirmPassword">
            <input asp-for="ConfirmPassword" class="input" type="password" placeholder="" required="">
            <span>Confirm Password</span>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </label>

            <div class="form-group">
                <label class="control-label">Gender</label>
                <div>
                    <input type="radio" id="male" name="Gender" value="M" >
                    <label for="male">Male</label>
                </div>
                <div>
                    <input type="radio" id="female" name="Gender" value="F">
                    <label for="female">Female</label>
                </div>
                </div>
        <div class="submit-1">
            <input type="submit" value="Submit" />
        </div>
        <p class="signin">Already have an account? <a href="~/Home/Login">Sign in</a></p>
    </form>
        @if (ViewData["message"] != null)
        {
            <p>@ViewData["message"]</p>
        }
    </div>
    


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}