
@{
    ViewData["Title"] = "TopicsGuest";
}

<div class="guestcontainer">
    <div class="left-column">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/eee14d97766991.5ecd1593d2cbb.jpg" alt="Book Cover" class="author-image">
        <div class="audio-player1">
            <audio id="audio-file" src="~/docu/audio/Clothing and Fashion.mp3"></audio>
            <input class="bc-button1" data-mp3="" type="button" value="Sample 05:34">
            <input class="play-pause-button1" style="display: none;" type="button" value="Pause">
        </div>

    </div>
    <div class="right-column">
        <h1 class="h1-guest">Book Title</h1>
        <p class="">
            The Japanese Secret to a Long and Happy Life
        </p>
        <p class="">
            Written by: Hector Garcia, Francesc Miralles
        </p>
        <p class="">
            Narrated by: Naoko Mori
        </p>
        <p class="">
            Length: 1hrs and 23 mins
        </p>
        <p class="">
            ✩✩✩✩✩ 4.5 8,157 ratings
        </p>
    </div>

    <div class="payment-section1">
        <p>Unlock the full ebook for $9.99</p>
        <button onclick="document.location='Paymentplans'" class="payment-button">Pay Now</button>
    </div>
</div>


<script src="~/js/topicguest.js"></script>

