
@{
    ViewData["Title"] = "Topics";
}


    <div class="audio-album">

        <div class="audio-album__info">

            <div class="audio-album__info__art">
                <img src="https://image.freepik.com/free-vector/religion-people-set-men-women-different-religious-confessions-traditional-clothes-illustrations_178650-3009.jpg" alt="Clothing Fashion" />
                <div class="text-container">
                <h1 class="h1-size">Clothing Fashion religious perspective</h1>
                <div class="play-button">
                    <div class="play-icon">
                        <audio>
                            <source src="@Url.Content("audio" ) type="audio/mp3">
                          
                        </audio>
                    </div>
                </div>

                   
                </div>
            </div>
            <div class="audio-album__info__meta">
                <div class="audio-album__name__year">Clothing Fashion</div>
                <div class="audio-album__actions">
                </div>

            </div>

        </div>

        <div class="audio-album__tracks">

            <div class="audio-tracks">

                <div class="audio-tracks__heading">

                    <div class="audio-tracks__heading__number">#</div>

                    <div class="audio-tracks__heading__title">Song</div>

                    <div class="audio-tracks__heading__length">

                        <i class="ion-ios-stopwatch-outline"></i>

                    </div>

                    <div class="audio-tracks__heading__popularity">

                        <i class="ion-thumbsup"></i>

                    </div>

                </div>

                <div class="audio-track">

                    <div class="audio-track__number">1</div>

                    <div class="audio-track__added">

                        <i class="ion-checkmark-round added"></i>

                    </div>

                    <div class="audio-track__title">Intro</div>
                    <div class="audio-track__length">10:11</div>

                    <div class="audio-track__popularity">

                        <i class="ion-arrow-graph-up-right"></i>

                    </div>

                </div>

                <!-- Add more tracks as needed -->
                <div class="audio-track">

                    <div class="audio-track__number">2</div>

                    <div class="audio-track__added">

                        <i class="ion-checkmark-round added"></i>

                    </div>

                    <div class="audio-track__title">Part2</div>
                    <div class="audio-track__length">5:11</div>

                    <div class="audio-track__popularity">

                        <i class="ion-arrow-graph-up-right"></i>

                    </div>

                </div>
                <!-- Add more tracks as needed -->
                <div class="audio-track">

                    <div class="audio-track__number">3</div>

                    <div class="audio-track__added">

                        <i class="ion-checkmark-round added"></i>

                    </div>

                    <div class="audio-track__title">Part3</div>
                    <div class="audio-track__length">2:11</div>

                    <div class="audio-track__popularity">

                        <i class="ion-arrow-graph-up-right"></i>

                    </div>

                </div>
            </div>

        </div>

    </div>



